{% extends "base.html" %} {% block content %}
<div class="container">
  <h2>{{ tour.name }}</h2>

  <div class="card mb-4">
    <div class="card-body">
      <h5>Tour Details</h5>
      <p>Tour ID: {{ tour.id }}</p>
      {% if tour.agerestriction > 0 %}
      <p>Age Restriction: {{ tour.agerestriction }}+</p>
      {% endif %}

      <h5>Available Start Dates:</h5>
      {% if tour.available_dates %} {% for date in
      tour.available_dates.split(',') %}
      <p>{{ date }}</p>
      {% endfor %} {% else %}
      <p>No upcoming dates available</p>
      {% endif %}
    </div>
  </div>

  <a href="{{ url_for('main.tours') }}" class="btn btn-primary"
    >Back to Tours</a
  >
</div>
{% endblock %}
